{% extends 'templates/app.twig'%}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Verify Account</div>
                <div class="panel-body">
                    {% if errors.id%}
                        <span class="help-block">{{ errors.id | first }}</span>
                    {% endif %}
                    {% if errors.code%}
                        <span class="help-block">{{ errors.code | first }}</span>
                    {% endif %}
                </div>
         </div>
        </div>
    </div>
{% endblock %}